---
import Layout from '../layouts/Layout.astro'
import Navigation from '../components/Navigation.astro';
---

<Layout title='About'>
  <div class="">
    <Navigation />
    <main>
      <h1></h1>
      <!-- <p>Enthusiast of reading and writying books 📖</p> -->
    </main>
  </div>
</Layout>
