---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro';
import BlogPost from '../components/BlogPost.astro'

const allPosts = await Astro.glob('../pages/posts/*.md')
---

<Layout title='Blog!'>
  <Header />

  <main>
    <h1 class='text-2xl'>Latest blog posts 🔥</h1>
    {
      allPosts.map((post) => {
        const { title, description } = post.frontmatter

        return (
          <BlogPost url={post.url} description={description} title={title} />
        )
      })
    }
  </main>
</Layout>
