---
---

<nav
  class='mx-auto py-7 flex items-center justify-center [&>a]:px-4 [&>a]:py-2 md:justify-start md:w-3/4'
>
  <span class='text-5xl font-["Allura"] px-4 py-2'>K</span>
  <a href='/'>Inicio</a>
  <a href='/blog'>Blog</a>
  <a href='/about'>Quien soy?</a>
</nav>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
</style>

<script>
  const location = window.location.pathname
  const els = document.querySelectorAll('a')

  els.forEach((el, i) => {
    if (el.getAttribute('href') === location) {
      el.classList.add('text-yellow-500')
    }
  })
</script>
