---
export interface Props {
  title: string,
  bgUrl?: string
}

const { title, bgUrl } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body style=`background-image: url(${bgUrl})`>
    <slot />
  </body>
</html>
<style>
  body {
    color: rgb(212, 212, 212);
    scrollbar-width: none;
    /* background-color: #FEEBD9; */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  }
  body::-webkit-scrollbar {
    display: none;
  }
</style>
